@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Arvo:ital@1&family=Barlow:wght@600&family=Fredoka&family=Mulish:ital,wght@0,400;1,700&family=Open+Sans:wght@500&family=Readex+Pro:wght@500&family=Roboto:ital,wght@0,400;1,500&family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

header {
    width: 1349px;
    height: 56px;
    background-color: #ffffff;
    position: relative;
}

.header {
    width: 1349px;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    background-color: #ffff;
    margin: 0 auto;
}

.logo {
    width: 350px;
    margin-left: 90px;
}

.link {
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link ul li {
    flex-direction: column;
}

.link .link-ul .link-ul-li::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #191919;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    display: block;
}

.link .link-ul .link-ul-li:hover::after {
    content: "";
    width: 80%;
    height: 3px;
    display: block;

}

.link ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.link ul li {
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    position: relative;
}

.link ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
}

.dropdown-menu {
    width: 100px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu ul {
    flex-direction: column;

}

.dropdown-menu ul li {
    width: 100%;
    height: 40px;
    color: #000;
}

.dropdown-menu ul li:active {
    background-color: #a9d9eb;
    color: #000;
}

.dropdown-menu ul li:active .link-ul-li {
    background-color: #00BAFC;
}

.dropdown-menu li:hover {
    background-color: #00BAFC;
}

.link .link-ul .link-ul-li:active {
    background: rgba(25, 25, 25, 0.897);
}

.link .link-ul .link-ul-li:active a {
    color: #ffff;
}

.link ul li a {
    color: #000000;
}



a {
    text-decoration: none;
}

.header-btn {
    width: 159px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00BAFC;
    border-radius: 5px;
    margin-left: 10px;
    border: 2px solid #00BAFC;
}

.header-btn:hover {
    background-color: #ffff;
}

.header-btn p {
    color: #ffff;
}

.header-btn:hover p {
    color: #00BAFC;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.text-section {
    width: 100%;
    height: 284px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.text-section h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}

.text-section p {
    width: 800px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.wrap {
    width: 1349px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F4F4F4;
}

.wrap-card {
    width: 800px;
    height: 378px;
    background: #FFFFFF;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-img {
    width: 25%;
    height: 100%;
}

.card-text {
    width: 60%;
    height: 100%;
    margin-left: 39px;
    flex-direction: column;
}

.card-text p {
    margin-top: 19px;
    margin-left: 2px;
}

.card-item p::before {
    content: ".....";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #00BAFC;
    color: transparent;
}

.card-btn {
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.card-btn button:nth-of-type(1) {
    border: none;
    width: 170px;
    height: 42px;
    background: #00BAFC;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.card-btn button:nth-of-type(2) {
    border: none;
    width: 170px;
    height: 42px;
    border-radius: 5px;
    color: #00BAFC;
    cursor: pointer;
    margin-left: 5px;
    outline: none;
}
.section-inner {
    width: 1345px;

}

.inner {
    width: 100%;
    height: 550px;
    background-color: #00BAFC;
    flex-direction: column;
}

.lead {
    margin: 35px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lead h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin-top: 50px;
}

.lead p {
    width: 719px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin-top: 16px;
}

.dropdown2 {
    width: 15rem;
    margin: 0 auto;
}

.dropdown-select {
    padding: 1.5rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: rgb(233, 227, 227);
}

.inner-dropdown {
    width: 400px;
    height: 300px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 15px;
}

.dropdown2 {
    margin-top: 15px;
}

.dropdown-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

footer {
    width: 1349px;
    height: 338px;
    background-color: #191919;
}

.footer-block {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 110px;
}

.footer-caption {
    width: 300px;
    height: 100%;
    flex-direction: column;
    margin-left: 20px;
}
.footer-caption1 {
    width: 300px;
    height: 100%;
    flex-direction: column;
    margin-left: 20px;
}
.footer-caption2 {
    width: 300px;
    height: 100%;
    flex-direction: column;
    margin-left: 20px;
}
.footer-caption p {
    width: 320px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    margin-top: 15px;
}
.footer-caption h2{
    color: white;
    margin-top: 25px;
}
.footer-caption1 p {
    width: 320px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    margin-top: 8px;
}
.footer-caption1 h2{
    color: white;
    margin-top: 20px;
}
.footer-caption2 i{
    margin-right: 5px;
}
.footer-caption1 p:hover{
    color: #00BAFC;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    cursor: pointer;
}
.footer-caption1 p:active{
    opacity: 50%;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.footer-caption2 p {
    width: 320px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    margin-top: 8px;
}
.footer-caption2 p:hover{
    color: #00BAFC;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    cursor: pointer;
}
.footer-caption2 p:active{
    opacity: 50%;
}
.footer-caption2 h2{
    color: white;
    margin-top: 20px;
}